# Archivos y carpetas específicos para Python y Flask
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno virtual (opcional: si utilizas entornos virtuales)
venv/
env/
env1/
env2/

# Archivos de configuración
instance/
config.py

# Logs
*.log

# Archivos y carpetas generados por IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.pycharm
*.DS_Store

# Dependencias (opcional: si no deseas incluir bibliotecas externas en tu repositorio)
lib/
lib64/*
bin/
include/
share/
local/

# Archivos de caché de dependencias
pip-wheel-metadata/
